@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
}

:root {
  --cyan-600: #4d96a9;
  --cyan-300: #8fe3f9;
  --purple-600: #855fb1;
  --purple-300: #d9b8ff;
  --slate-900: #28283d;
  --slate-600: #87879d;
  --slate-300: #d1d1df;
  --white: #fafafa;
}

html {
  font-family: "Red Hat Display";
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 18px;
  color: var(--slate-600);
  font-weight: 600;
}

header {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

main {
  flex-grow: 1;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px 0;
  gap: 32px;
}

.group-chat h1 {
  font-size: 64px;
  line-height: 110%;
  letter-spacing: 0px;
  font-weight: 900;
  color: var(--slate-900);
}

.group-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  text-align: center;
  max-width: 448.3px;
}

button {
  padding: 16px;
  color: var(--white);
  font-weight: bold;
  border: none;
  border-radius: 29px;
  cursor: pointer;
  transition: 0.5s;
}

.button-wrapper {
  display: flex;
  gap: 17px;
}

.group-chat button {
  background: var(--cyan-600);
  padding: 16px 25px;
}

.group-chat button:hover {
  background: var(--cyan-300);
}

.group-chat button:last-child {
  background: var(--purple-600);
}

.group-chat button:last-child:hover {
  background: var(--purple-300);
}

.group-chat button span {
  color: var(--cyan-300);
}

.imagenes-wrapper {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.imagenes-wrapper img {
  max-width: 256px;
  border-radius: 8px;
}

.second-container section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 56px 0;
}

h3 {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 10%;
  letter-spacing: 4px;
  color: var(--cyan-600);
  font-weight: bolder;
}

.second-container h2 {
  color: var(--slate-900);
  font-size: 40px;
  font-weight: bolder;
}

.second-container p {
  max-width: 544px;
  text-align: center;
}

.second-title {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 445px;
  text-align: center;
}

footer {
  background: linear-gradient(rgba(2, 157, 157, 0.824)),
    url("../starter-code/assets/desktop/image-footer.jpg");
  background-size: cover;
  background-position: center;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 112px 80px;
}

footer button {
  background: var(--purple-600);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 56px;
  width: 193px;
  font-weight: 600;
  font-size: 16px;
}

footer button:hover {
  background: var(--purple-300);
}

footer h2 {
  font-size: 40px;
  font-weight: bolder;
  max-width: 445px;
}

footer p {
  max-width: 335px;
}

.tablet-img {
  display: none;
}

.number {
  border: 1px solid var(--slate-600);
  display: inline;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 100%;
  width: 56px;
  height: 56px;
  font-weight: bolder;
}

.line {
  width: 1px;
  height: 80px;
  background: var(--slate-600);
  margin: 0 auto;
}

.circle-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 885px) {
  .desktop-img {
    display: none;
  }
  .main-container {
    flex-direction: column;
  }
  .tablet-img {
    display: block;
  }

  .imagenes-wrapper img {
    max-width: 152px;
    border-radius: 8px;
  }

  footer button:hover {
    background: var(--purple-300);
  }

  footer h2 {
    font-size: 100%;
    font-weight: bolder;
    max-width: 445px;
  }

  footer p {
    max-width: 560px;
    text-align: center;
  }
  footer {
    flex-direction: column;
    gap: 24px;
  }
}

@media (max-width: 441px) {
  .tablet-img {
    width: 100%;
  }

  .group-chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    text-align: center;
    max-width: 305px;
  }

  .group-chat h1 {
    font-size: 45px;
  }

  .button-wrapper {
    flex-direction: column;
  }

  .second-container p {
    max-width: 311px;
  }

  .second-container h2 {
    color: var(--slate-900);
    font-size: 30px;
    font-weight: bolder;
    max-width: 311px;
  }

  footer h2 {
    font-size: 26px;
    font-weight: bolder;
    max-width: 445px;
  }

  footer p {
    text-align: center;
    width: 350px;
  }
  footer {
    flex-direction: column;
    text-align: center;
    gap: 24px;
  }
}
